@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 11px;
  font-weight: bold;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  background-color: @surface0;
  border-radius: 1rem;
  margin-top: 5px;
  margin-left: 0.8rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0 0.2rem;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-music,
#cpu,
#memory,
#network,
#custom-bluetooth,
#backlight,
#pulseaudio,
#clock {
  background-color: @surface0;
  padding: 0.25rem 0.6rem;
  margin-top: 5px;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#cpu {
  color: @red;
  border-radius: 1rem 0 0 1rem;
  padding-right: 0.4rem;
}

#memory {
  color: @peach;
  padding: 0 0.4rem;
}

#network {
  color: @green;
  padding-right: 0.4rem;
  border-radius: 1rem 0 0 1rem;
}

#custom-bluetooth {
  color: @blue;
  padding-left: 0.4rem;
  border-radius: 0 1rem 1rem 0;
  margin-right: 0.5rem;
}

#backlight {
  color: @yellow;
  padding: 0 0.4rem;
}

#pulseaudio {
  color: @maroon;
  padding: 0 0.4rem;
}

#clock {
  color: @lavender;
  border-radius: 0 1rem 1rem 0;
  margin-right: 0.8rem;
  padding-left: 0.5rem;
}
